#applicationmenu-button { min-height:55px; min-width:55px; }
#applicationmenu-button image {-gtk-icon-transform: scale(0);}
#applicationmenu-button {background-color: transparent; background-image: url("/usr/share/icons/ubuntu-icon.png");    background-size: 55px 55px;    background-repeat: no-repeat;    background-position: center;}
/*#genmon-3>widget>box { width: 55px; min-height:55px;}*/
.genmon_value {
	color: rgb(255,0,0);
}
#actions-16>box>button{ min-height:55px; min-width:55px; background-color: transparent; background-image: url("/usr/share/icons/shutdown.png");    background-size: 55px 55px;    background-repeat: no-repeat;    background-position: center;}
#actions-16>box>button>image { -gtk-icon-transform: scale(0); }
