[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Xmonad
Comment=Xmonad
Exec=/usr/share/startXmonad.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
